.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  min-height: 80px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin-right: 32px;
  transition: 0.5s linear;
  box-sizing: border-box;
}

.navigation__link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.navigation__link_type_footer {
  border: none;
  color: #1A1B22;
  font-weight: normal;
  margin: 0;
}

.navigation__link_type_news {
  border-bottom: solid 3px #1A1B22;
}

.navigation__link_type_root {
  border-bottom: solid 3px #FFF;
}

@media screen and (max-width: 768px) {
  .navigation__link {
    min-height: 66px;
    font-size: 16px;
  }

  .navigation__link_type_footer {
    font-size: 18px;
  }
}