.card {
  min-height: 576px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__category {
  max-width: 120px;
  height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0;
  border-radius: 8px;
  position: absolute;
  left: 6%;
  top: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}

.card__favorite-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: #fff;
  background-image: url(../../images/fav-normal.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 8px;
  outline: none;
  transition: 0.5s linear;
  position: absolute;
  right: 6%;
  top: 24px;
}

.card__favorite-btn:hover {
  cursor: pointer;
  background-image: url(../../images/fav-hover.svg);
}

.card__favorite-btn_type_savednews {
  background-image: url(../../images/trash.svg);
}

.card__favorite-btn_type_savednews:hover {
  background-image: url(../../images/trash-dark.svg);
}

.card__favorite-btn_type_savednews:hover + .card__tooltip {
  visibility: visible;
  opacity: 1;
}

.card__tooltip {
  height: 40px;
  padding: 0 12px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  right: 18%;
  top: 24px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 40px;
  white-space: nowrap;
}

.card__image {
  width: 100%;
  min-height: 272px;
  object-fit: cover;
  object-position: top;
}

.card__image:hover {
  cursor: pointer;
}

.card__container {
  width: calc(100% - 48px);
  margin: 0 auto;
}

.card__date {
  margin: 20px 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.33;
  color: #B6BCBF;
}

.card__title {
  margin: 12px 0 0;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
}

.card__text {
  margin: 16px 0 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
}

.card__news-source {
  width: fit-content;
  margin: 5px 0 24px 24px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #B6BCBF;
  transition: .5s linear;
}

.card__news-source:hover {
  color: #1A1B22;
}

@media screen and (max-width: 768px) {
  .card {
    min-height: 400px;
  }

  .card__image {
    height: 150px;
  }

  .card__container {
    width: calc(100% - 32px);
  }
  
  .card__date {
    margin: 16px 0 0;
  }
  
  .card__title {
    font-size: 22px;
    line-height: 1.09;
    max-height: 72px;
    overflow: hidden;
  }
  
  .card__text {
    margin: 10px 0 0;
    max-height: 88px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .card__news-source {
    width: calc(100% - 32px);
    margin: 0 auto 16px;
  }
}

@media screen and (max-width: 520px) {
  .card {
    min-height: 440px;
  }

  .card__image {
    height: 196px;
  }
  
  .card__title {
    margin: 10px 0 0;
    max-height: 48px;
  }
}